{% extends 'base.html.twig' %}

{% block body %}
  <h3>MediaBundle</h3>

  {% embed 'table.html.twig' %}
    {% block th %}
      <th class="text-nowrap">{{ 'media.name'|trans }}</th>
      <th class="text-nowrap">{{ 'media.extension'|trans }}</th>
      <th class="text-nowrap">{{ 'media.mime'|trans }}</th>
      <th class="text-nowrap">{{ 'media.size'|trans }}</th>
      <th class="text-nowrap">{{ 'media.pixel'|trans }}</th>
      <th class="text-nowrap">{{ 'generic.created_at'|trans }}</th>
      <th class="text-nowrap">{{ 'generic.action'|trans }}</th>
    {% endblock %}

    {% block td %}
      <td class="text-nowrap"><a href="{{ _item.url }}" target="_blank" class="d-inline-block text-truncate" style="max-width: 200px" title="{{ _item.name }}">{{ _item.name }}</a></td>
      <td class="text-nowrap">{{ _item.extension }}</td>
      <td class="text-nowrap">{{ _item.mime }}</td>
      <td class="text-nowrap">{{ _item.size }}</td>
      <td class="text-nowrap">{{ _item.width and _item.height ? _item.width ~ '*' ~ _item.height : '-' }}</td>
      <td class="text-nowrap">{{ _item.createdAt|intl_date }}</td>
      <td class="text-nowrap">
        <a href="{{ path('app_media_delete', {hash: _item.hash}) }}" onclick="return confirm('{{ 'generic.delete_confirmation'|trans }}')">{{ 'generic.delete'|trans }}</a>
      </td>
    {% endblock %}
  {% endembed %}
{% endblock %}
