{% extends 'base.html.twig' %}

{% block body %}
  <h3 class="mb-3">ProductBundle</h3>

  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      {{ 'generic.add'|trans }}
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{{ path('app_product_new') }}">简单的商品</a></li>
      <li><a class="dropdown-item" href="{{ path('app_product_new', {combinable: true}) }}">多选项商品</a></li>
    </ul>
  </div>

  {% embed 'table.html.twig' %}
    {% block th %}
      <th class="text-nowrap">{{ 'product.name'|trans }}</th>
      <th class="text-nowrap">{{ 'product_variant.price'|trans }}</th>
      <th class="text-nowrap">{{ 'generic.created_at'|trans }}</th>
      <th class="text-nowrap">{{ 'generic.action'|trans }}</th>
    {% endblock %}

    {% block td %}
      <td class="text-nowrap">
        <div class="d-flex align-items-center">
          <img src="{{ _item.img.url }}" width="50px" class="img-thumbnail" />
          <div class="mx-3">
            <p class="m-0 text-break">{{ _item.name }}</p>
            {% if _item.options|length %}
              <small class="text-body-tertiary">
                {% for option in _item.options %}
                  <a href="{{ path('app_productoption_edit', {id: option.id}) }}" class="text-reset text-decoration-none">
                    {{ option.name }}
                    ({{ option.values|length }})
                  </a>
                {% endfor %}
              </small>
            {% endif %}
          </div>
        </div>
      </td>
      <td class="text-nowrap">
        {%- set _variants = _item.variants|filter(v => v.enabled) -%}
        {%- set _prices = _variants|map(v => v.price) %}
        {{- _prices ? min(_prices)|intl_currency : '-' -}}
      </td>
      <td class="text-nowrap">{{ _item.createdAt|intl_date }}</td>
      <td class="text-nowrap">
          <a href="{{ path('app_product_variants', {id: _item.id}) }}">
            {{ 'product.variants'|trans }}
            <small>({{ _variants|length }}/{{ _item.choices|length ?: 1 }})</small>
          </a>
          <a href="{{ path('app_product_edit', {id: _item.id}) }}">{{ 'generic.edit'|trans }}</a>
          <a href="{{ path('app_product_delete', {id: _item.id}) }}" onclick="return confirm('{{ 'generic.delete_confirmation'|trans }}')">{{ 'generic.delete'|trans }}</a>
        </div>
      </td>
    {% endblock %}
  {% endembed %}
{% endblock %}
