<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid my-3">
          <div class="row">
            <div class="col-lg-4 col-xl-3 col-xxl-2">
              <ul class="dropdown-menu position-static d-grid rounded-3 mb-3" data-bs-theme="light">
                <li>
                  <a class="dropdown-item rounded-2" href="{{ path('app_index_index') }}">Index</a>
                </li>
                <li>
                  <h6 class="dropdown-header">siganushka/generic-bundle</h6>
                </li>
                <li>
                  <a class="dropdown-item rounded-2" href="{{ path('app_index_collection') }}">collection</a>
                </li>
                <li>
                  <a class="dropdown-item rounded-2" href="{{ path('app_index_intl') }}">intl</a>
                </li>
                <li>
                  <h6 class="dropdown-header">siganushka/region-bundle</h6>
                </li>
                <li>
                  <a class="dropdown-item rounded-2" href="{{ path('app_region_regiontype') }}">RegionType</a>
                </li>
                <li>
                  <h6 class="dropdown-header">siganushka/media-bundle</h6>
                </li>
                <li>
                  <a class="dropdown-item rounded-2" href="{{ path('app_media_index') }}">media</a>
                </li>
                <li>
                  <a class="dropdown-item rounded-2" href="{{ path('app_media_mediauploadtype') }}">MediaUploadType</a>
                </li>
                <li>
                  <a class="dropdown-item rounded-2" href="{{ path('app_media_mediatype') }}">MediaType</a>
                </li>
                <li>
                  <h6 class="dropdown-header">siganushka/product-bundle</h6>
                </li>
                <li>
                  <a class="dropdown-item rounded-2" href="{{ path('app_product_index') }}">products</a>
                </li>
                <li>
                  <a class="dropdown-item rounded-2" href="{{ path('app_product_producttype') }}">ProductType</a>
                </li>
                <li>
                  <a class="dropdown-item rounded-2" href="{{ path('app_product_productoptiontype') }}">ProductOptionType</a>
                </li>
                <li>
                  <a class="dropdown-item rounded-2" href="{{ path('app_product_productoptionvaluetype') }}">ProductOptionValueType</a>
                </li>
                <li>
                  <a class="dropdown-item rounded-2" href="{{ path('app_product_productvariantcollectiontype') }}">ProductVariantCollectionType</a>
                </li>
                <li>
                  <a class="dropdown-item rounded-2" href="{{ path('app_product_productvarianttype') }}">ProductVariantType</a>
                </li>
                <li>
                  <h6 class="dropdown-header">siganushka/order-bundle</h6>
                </li>
                <li>
                  <a class="dropdown-item rounded-2" href="{{ path('app_order_index') }}">orders</a>
                </li>
                <li>
                  <a class="dropdown-item rounded-2" href="{{ path('app_order_ordertype') }}">OrderType</a>
                </li>
                <li>
                  <a class="dropdown-item rounded-2" href="{{ path('app_order_orderitemtype') }}">OrderItemType</a>
                </li>
                <li>
                  <h6 class="dropdown-header">siganushka/user-bundle</h6>
                </li>
                <li>
                  <a class="dropdown-item rounded-2" href="{{ path('app_user_index') }}">users</a>
                </li>
                <li>
                  <a class="dropdown-item rounded-2" href="{{ path('app_user_usertype') }}">UserType</a>
                </li>
                <li>
                  <a class="dropdown-item rounded-2" href="{{ path('app_user_changepasswordtype') }}">ChangePasswordType</a>
                </li>
                <li>
                  <a class="dropdown-item rounded-2" href="{{ path('app_user_resetpasswordtype') }}">ResetPasswordType</a>
                </li>
                <li>
                  <h6 class="dropdown-header">siganushka/admin-bundle</h6>
                </li>
                <li>
                  <a class="dropdown-item rounded-2" href="{{ path('app_admin_dashboard') }}">Dashboard</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-8 col-xl-9 col-xxl-10">
              {% for label, messages in app.flashes %}
                {% for message in messages %}
                  <div class="alert alert-{{ label }}">{{ message }}</div>
                {% endfor %}
              {% endfor %}
              {% block body %}{% endblock %}
            </div>
          </div>
        </div>
    </body>
</html>
