<table class="w-100">
  <tr>
    <th class="pt-0">{{ 'order_item.subject'|trans }}</th>
    <th style="min-width: 60px" class="pt-0 text-end">{{ 'order_item.price'|trans }}</th>
    <th style="min-width: 60px" class="pt-0 text-end">{{ 'order_item.quantity'|trans }}</th>
    <th style="min-width: 60px" class="pt-0 text-end">{{ 'order_item.subtotal'|trans }}</th>
  </tr>
  {% for item in items %}
  <tr>
    <td>
      {% include 'order/_items_entry.twig' with {item: item, index: loop.index0} only %}
    </td>
    <td class="text-end">{{ item.price|currency }}</td>
    <td class="text-end">{{ item.quantity }}</td>
    <td class="text-end">{{ item.subtotal|currency }}</td>
  </tr>
  {% endfor %}
</table>
