{% extends 'base.html.twig' %}

{% block count %}
  <small class="text-body-secondary">({{ _count|default(0) }})</small>
{% endblock %}

{% block body %}
  <h3 class="mb-3">OrderBundle</h3>

  <p>
    <a href="{{ path('app_order_new') }}" class="btn btn-primary">{{ 'generic.add'|trans }}</a>
  </p>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      {% set _count = countForState|reduce((carry, item) => carry + item) %}
      {% if state is null %}
        <span class="nav-link active" aria-current="page">{{ 'generic.choice_all'|trans }}{{ block('count') }}</span>
      {% else %}
        <a class="nav-link" aria-current="page" href="{{ path(app.current_route) }}">{{ 'generic.choice_all'|trans }}{{ block('count') }}</a>
      {% endif %}
    </li>

    {% for case in enum_cases('Siganushka\\OrderBundle\\Enum\\OrderState') %}
      {% set _count = countForState[case.value] ?? 0 %}
      <li class="nav-item">
        {% if case == state %}
          <span class="nav-link active" aria-current="page">{{ case|trans }}{{ block('count') }}</span>
        {% else %}
          <a class="nav-link" aria-current="page" href="{{ path(app.current_route, {state: case.value}) }}">{{ case|trans }}{{ block('count') }}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  {% embed 'table.html.twig' %}
    {% block th %}
      <th class="text-nowrap">{{ 'order.number'|trans }}</th>
      <th class="text-nowrap">{{ 'order.items'|trans }}</th>
      <th class="text-nowrap">{{ 'order.items_total'|trans }}</th>
      <th class="text-nowrap">{{ 'order.adjustments_total'|trans }}</th>
      <th class="text-nowrap">{{ 'order.total'|trans }}</th>
      <th class="text-nowrap">{{ 'order.state'|trans }}</th>
      <th class="text-nowrap">{{ 'generic.created_at'|trans }}</th>
      <th class="text-nowrap">{{ 'generic.action'|trans }}</th>
    {% endblock %}

    {% block td %}
      <td class="text-nowrap"><code class="user-select-all">{{ _item.number }}</code></td>
      <td class="text-nowrap">
        <div class="d-flex flex-column row-gap-2">
          {% for item in _item.items %}
            {% include 'order/_items_entry.twig' with {item} only %}
          {% endfor %}
        </div>
      </td>
      <td class="text-nowrap">{{ _item.itemsTotal|intl_currency }}</td>
      <td class="text-nowrap">{{ _item.adjustmentsTotal|intl_currency }}</td>
      <td class="text-nowrap">{{ _item.total|intl_currency }}</td>
      <td class="text-nowrap">
        <span class="badge text-bg-{{ _item.state.theme }}">{{ _item.state|trans }}</span>
      </td>
      <td class="text-nowrap">{{ _item.createdAt|intl_date }}</td>
      <td class="text-nowrap">
        <div class="d-inline-block">
          <a class="dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">流转</a>
          <ul class="dropdown-menu">
            {% for transition in workflow_transitions(_item) %}
              {% if transition.name == 'reset' %}
                <div class="dropdown-divider"></div>
              {% endif %}
              <li><a href="{{ path('app_order_workflow', {number: _item.number, transition: transition.name}) }}" class="dropdown-item">{{ transition.name }}</a></li>
            {% else %}
              <li><span class="dropdown-item disabled">No actions available.</span></li>
            {% endfor %}
          </ul>
        </div>
        <a href="{{ path('app_order_show', {number: _item.number}) }}">{{ 'generic.detail'|trans }}</a>
        <a href="{{ path('app_order_edit', {number: _item.number}) }}">{{ 'generic.edit'|trans }}</a>
        <a href="{{ path('app_order_delete', {number: _item.number}) }}" onclick="return confirm('{{ 'generic.delete_confirmation'|trans }}')">{{ 'generic.delete'|trans }}</a>
      </td>
    {% endblock %}
  {% endembed %}
{% endblock %}
