{% extends 'base.html.twig' %}

{% block body %}
  <h3 class="mb-3">OrderBundle</h3>

  <p>
    <a href="{{ path('app_order_new') }}" class="btn btn-primary">{{ 'generic.create'|trans }}</a>
  </p>

  <div class="overflow-x-auto my-3">
    <table class="table table-striped table-hover m-0">
      <tr class="table-light">
        <th style="min-width: 160px">{{ 'order.number'|trans }}</th>
        <th style="min-width: 400px">{{ 'order.items'|trans }}</th>
        <th style="min-width: 100px">{{ 'order.items_total'|trans }}</th>
        <th style="min-width: 100px">{{ 'order.adjustments_total'|trans }}</th>
        <th style="min-width: 100px">{{ 'order.total'|trans }}</th>
        <th style="min-width: 100px">{{ 'order.state'|trans }}</th>
        <th style="min-width: 160px">{{ 'generic.created_at'|trans }}</th>
        <th style="min-width: 200px">{{ 'generic.action'|trans }}</th>
      </tr>
      {% for entity in pagination %}
      <tr>
        <td><code class="user-select-all">{{ entity.number }}</code></td>
        <td>
          {% for item in entity.items %}
            {% include 'order/_items_entry.twig' with {item: item, index: loop.index0, quantity: true} only %}
          {% endfor %}
        </td>
        <td>{{ entity.itemsTotal|money }}</td>
        <td>{{ entity.adjustmentsTotal|money }}</td>
        <td>{{ entity.total|money }}</td>
        <td>
          <span class="badge text-bg-{{ entity.state.theme }}">{{ entity.state|trans }}</span>
        </td>
        <td>{{ entity.createdAt|date }}</td>
        <td>
          <div class="d-inline-block">
            <a class="dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">流转</a>
            <ul class="dropdown-menu">
              {% for transition in workflow_transitions(entity) %}
                {% if transition.name == 'reset' %}
                  <div class="dropdown-divider"></div>
                {% endif %}
                <li><a href="{{ path('app_order_workflow', {number: entity.number, transition: transition.name}) }}" class="dropdown-item">{{ transition.name }}</a></li>
              {% else %}
                <li><span class="dropdown-item disabled">No actions available.</span></li>
              {% endfor %}
            </ul>
          </div>
          <a href="{{ path('app_order_show', {number: entity.number}) }}">{{ 'generic.detail'|trans }}</a>
          <a href="{{ path('app_order_edit', {number: entity.number}) }}">{{ 'generic.edit'|trans }}</a>
          <a href="{{ path('app_order_delete', {number: entity.number}) }}" onclick="return confirm('{{ 'generic.delete_confirmation'|trans }}')">{{ 'generic.delete'|trans }}</a>
        </td>
      </tr>
      {% else %}
      <tr>
        <td colspan="65536" class="text-center text-body-secondary">{{ 'generic.no_items'|trans }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  {% if pagination.totalItemCount %}
  <div class="pagination justify-content-center">
    {{ knp_pagination_render(pagination) }}
  </div>
  {% endif %}
{% endblock %}
