{% extends 'base.html.twig' %}

{% block body %}
<p>
  <a href="{{ path('app_order_index') }}" class="btn btn-primary">{{ 'generic.back'|trans }}</a>
</p>
<table class="table">
  <tr>
    <th class="text-end" width="20%">{{ 'order.number'|trans }}</th>
    <td width="80%"><code class="user-select-all">{{ entity.number }}</code></td>
  </tr>
  <tr>
    <th class="text-end">{{ 'order.items_total'|trans }}</th>
    <td>{{ entity.itemsTotal|currency }}</td>
  </tr>
  <tr>
    <th class="text-end">{{ 'order.adjustments_total'|trans }}</th>
    <td>
      {% if entity.adjustmentsTotal > 0 %}
        <span class="text-danger">+{{ entity.adjustmentsTotal|currency }}</span>
      {% else %}
        <span class="text-success">{{ entity.adjustmentsTotal|currency }}</span>
      {% endif %}
    </td>
  </tr>
  <tr>
    <th class="text-end">{{ 'order.total'|trans }}</th>
    <td>{{ entity.total|currency }}</td>
  </tr>
 <tr>
    <th class="text-end">{{ 'order.state'|trans }}</th>
    <td><span class="badge text-bg-{{ entity.state.theme }}">{{ entity.state|trans }}</span></td>
  </tr>
  {% if entity.updatedAt %}
  <tr>
    <th class="text-end">{{ 'generic.updated_at'|trans }}</th>
    <td>{{ entity.updatedAt|datetime }}</td>
  </tr>
  {% endif %}
  <tr>
    <th class="text-end">{{ 'generic.created_at'|trans }}</th>
    <td>{{ entity.createdAt|datetime }}</td>
  </tr>
  <tr>
    <th class="text-end">{{ 'order.items'|trans }}</th>
    <td>
      {% include 'order/_items.twig' with {items: entity.items} only %}
    </td>
  </tr>
  <tr>
    <td class="text-end" colspan="2">
      <table>
        {% for adjustment in entity.adjustments %}
          <tr>
            <td class="text-end text-break w-100 px-2">{{ adjustment.label|trans }}</td>
            {% if adjustment.amount > 0 %}
              <td class="text-end text-danger">+{{ adjustment.amount|currency }}</td>
            {% else %}
              <td class="text-end text-success">{{ adjustment.amount|currency }}</td>
            {% endif %}
          </tr>
        {% endfor %}
        <tr>
          <td class="text-end text-break w-100 px-2">{{ 'order.items_total'|trans }}</td>
          <td class="text-end">{{ entity.itemsTotal|currency }}</td>
        </tr>
        <tr>
          <td class="text-end text-break w-100 px-2">{{ 'order.total'|trans }}</td>
          <td class="text-end">{{ entity.total|currency }}</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
{% endblock %}
