{% extends 'base.html.twig' %}

{% block body %}
  <h3>PaymentBundle</h3>

  {% embed 'table.html.twig' %}
    {% block th %}
      <th class="text-nowrap">{{ 'payment.number'|trans }}</th>
      <th class="text-nowrap">{{ 'payment.amount'|trans }}</th>
      <th class="text-nowrap">{{ 'payment.type'|trans }}</th>
      <th class="text-nowrap">{{ 'payment.gateway'|trans }}</th>
      <th class="text-nowrap">{{ 'payment.state'|trans }}</th>
      <th class="text-nowrap">{{ 'generic.expired_at'|trans }}</th>
      <th class="text-nowrap">{{ 'generic.created_at'|trans }}</th>
    {% endblock %}

    {% block td %}
      <td class="text-nowrap"><code class="user-select-all">{{ _item.number }}</code></td>
      <td class="text-nowrap">{{ _item.amount|intl_currency }}</td>
      <td class="text-nowrap">{{ ('payment.type.' ~ _item.type)|trans }}</td>
      <td class="text-nowrap">{{ ('payment.gateway.' ~ _item.gateway)|trans }}</td>
      <td class="text-nowrap">
        <span class="badge text-bg-{{ _item.state.theme }}"
          {% if enum('Siganushka\\PaymentBundle\\Enum\\PaymentState').Failed == _item.state %}
            title="{{ _item.failedReason }}"
          {% endif %}
        >{{ _item.state|trans }}</span>
      </td>
      <td class="text-nowrap">{{ _item.expiredAt|intl_date }}</td>
      <td class="text-nowrap">{{ _item.createdAt|intl_date }}</td>
    {% endblock %}
  {% endembed %}
{% endblock %}
