{% extends 'base.html.twig' %}

{% block body %}
  <h3 class="mb-3">UserBundle</h3>

  <p>
    <a href="{{ path('app_user_new') }}" class="btn btn-primary">{{ 'generic.add'|trans }}</a>
  </p>

  {% embed 'table.html.twig' %}
    {% block thead %}
      <th style="min-width: 160px">{{ 'Identifier'|trans([], 'SiganushkaUserBundle') }}</th>
      <th style="min-width: 200px">{{ 'generic.enable'|trans }}</th>
      <th style="min-width: 200px">{{ 'generic.created_at'|trans }}</th>
      <th>{{ 'generic.action'|trans }}</th>
    {% endblock %}

    {% block tbody %}
      <td><code class="user-select-all">{{ entity.identifier }}</code></td>
      <td>
        {% if entity.enabled %}
          <span class="badge bg-success">{{ 'generic.yes'|trans }}</span>
        {% else %}
          <span class="badge bg-danger">{{ 'generic.no'|trans }}</span>
        {% endif %}
      </td>
      <td>{{ entity.createdAt|intl_date }}</td>
      <td>
        <a href="{{ path('app_user_edit', {id: entity.id}) }}">{{ 'generic.edit'|trans }}</a>
        <a href="{{ path('app_user_delete', {id: entity.id}) }}" onclick="return confirm('{{ 'generic.delete_confirmation'|trans }}')">{{ 'generic.delete'|trans }}</a>
      </td>
    {% endblock %}
  {% endembed %}
{% endblock %}
