{% extends 'base.html.twig' %}

{% block body %}
  <h3 class="mb-3">UserBundle</h3>

  <p>
    <a href="{{ path('app_user_new') }}" class="btn btn-primary">{{ 'generic.add'|trans }}</a>
  </p>

  {% embed 'table.html.twig' %}
    {% block th %}
      <th class="text-nowrap">{{ 'Identifier'|trans([], 'SiganushkaUserBundle') }}</th>
      <th class="text-nowrap">{{ 'Last Login Ip'|trans([], 'SiganushkaUserBundle') }}</th>
      <th class="text-nowrap">{{ 'Last Login At'|trans([], 'SiganushkaUserBundle') }}</th>
      <th class="text-nowrap">{{ 'generic.enable'|trans }}</th>
      <th class="text-nowrap">{{ 'generic.created_at'|trans }}</th>
      <th class="text-nowrap">{{ 'generic.action'|trans }}</th>
    {% endblock %}

    {% block td %}
      <td class="text-nowrap"><code class="user-select-all">{{ _item.identifier }}</code></td>
      <td class="text-nowrap">{{ _item.lastLoginIp ?? '-' }}</td>
      <td class="text-nowrap">{{ _item.lastLoginAt ?? '-' }}</td>
      <td class="text-nowrap">
        {% if _item.enabled %}
          <span class="badge bg-success">{{ 'generic.yes'|trans }}</span>
        {% else %}
          <span class="badge bg-danger">{{ 'generic.no'|trans }}</span>
        {% endif %}
      </td>
      <td class="text-nowrap">{{ _item.createdAt|intl_date }}</td>
      <td class="text-nowrap">
        <a href="{{ path('app_user_edit', {id: _item.id}) }}">{{ 'generic.edit'|trans }}</a>
        <a href="{{ path('app_user_delete', {id: _item.id}) }}" onclick="return confirm('{{ 'generic.delete_confirmation'|trans }}')">{{ 'generic.delete'|trans }}</a>
      </td>
    {% endblock %}
  {% endembed %}
{% endblock %}
