{% extends 'base.html.twig' %}

{% import '@SiganushkaGeneric/macros.html.twig' as ui %}

{% block body %}
  <h3 class="mb-3">UserBundle</h3>

  <p>
    <a href="{{ path('app_user_new') }}" class="btn btn-primary">{{ 'generic.add'|trans }}</a>
  </p>

  <div class="overflow-x-auto my-3">
    <table class="table table-striped table-hover align-middle m-0">
      <tr class="table-light">
        <th style="min-width: 160px">{{ 'Identifier'|trans([], 'SiganushkaUserBundle') }}</th>
        <th style="min-width: 200px">{{ 'generic.enabled'|trans }}</th>
        <th style="min-width: 200px">{{ 'generic.created_at'|trans }}</th>
        <th>{{ 'generic.action'|trans }}</th>
      </tr>
      {% for entity in pagination %}
      <tr>
        <td><code class="user-select-all">{{ entity.identifier }}</code></td>
        <td>{{ ui.enabled(entity.enabled) }}</td>
        <td>{{ entity.createdAt|intl_date }}</td>
        <td>
          <a href="{{ path('app_user_edit', {id: entity.id}) }}">{{ 'generic.edit'|trans }}</a>
          <a href="{{ path('app_user_delete', {id: entity.id}) }}" onclick="return confirm('{{ 'generic.delete_confirmation'|trans }}')">{{ 'generic.delete'|trans }}</a>
        </td>
      </tr>
      {% else %}
      <tr class="text-nowrap">
        <td colspan="999" class="text-center text-body-secondary">{{ 'generic.no_result'|trans }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  {% if pagination.totalItemCount %}
  <div class="pagination justify-content-center">
    {{ knp_pagination_render(pagination) }}
  </div>
  {% endif %}
{% endblock %}
